
@{
    ViewBag.Title = "Gorevler";
    Layout = "~/Views/YoneticiAdmin/Index.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Kullanıcılar
        <a href="/YoneticiAdmin/GorevOlustur" class="btn btn-success btn-sm pull-right">Görev Oluştur</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" ng-controller="gorevler">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Görev Adı</th>
                        <th>Tamamlanma Sayısı</th>
                        <th>Başarı Puanı</th>
                        <th>Sil</th>
                        <th>İncele</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Görev Adı</th>
                        <th>Tamamlanma Sayısı</th>
                        <th>Başarı Puanı</th>
                        <th>Sil</th>
                        <th>İncele</th>
                    </tr>
                </tfoot>
                <tbody>
                    
                    <tr ng-repeat="x in grvlr">
                        <td>{{x.GorevAdi}}</td>
                        <td>{{x.TamamlanmaAdet}}</td>
                        <td>{{x.BasariPuani}}</td>
                        <td><a href="/YoneticiAdmin/GorevlerIncele/{{x.Id}}" class="btn btn-primary">İncele</a> </td>
                        <td><input type="button" name="{{x.Id}}" class="btn btn-danger gorevsil" id="gorevsil" value="Sil" /></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>


