<!doctype html>
<html lang="en">
<head>
    <title>Kuaför Sırası - Online Kuaför Sırası</title>
    <!-- Sayfa Tagları -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Belgeler/FrontEnd/Css/bootstrap.css">

    <!-- LayoutNavbar CSS -->
    <link href="~/Belgeler/FrontEnd/Css/LayoutNavbar.css" rel="stylesheet" />
    <!-- SehirlerListesi CSS -->
    <link href="~/Belgeler/FrontEnd/Css/SehirlerListesi.css" rel="stylesheet" />
    <link href="~/Belgeler/FrontEnd/Css/IlSecilenSayfa.css" rel="stylesheet" />
    <link href="~/Belgeler/FrontEnd/Css/IllerKuaforListesi/KuaforListesi.css" rel="stylesheet" />
    <link href="~/Belgeler/FrontEnd/Css/IllerKuaforListesi/carstok.css" rel="stylesheet" />
    <link href="~/Belgeler/FrontEnd/Css/IllerKuaforListesi/kuafordetay.css" rel="stylesheet" />
    <link href="~/Belgeler/FrontEnd/Css/KullaniciProfilLink.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
</head>
<body ng-app="MyApp">

    @RenderBody()

    <footer id="main-footer" class="py-2 mt-5  footerback">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6 mx-auto my-auto">
                    <p class="lead">No Copyright &copy; Fatih Mandıralı</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/Belgeler/FrontEnd/Js/jquery-3.3.1.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/bootstrap.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/popper.min.js"></script>

    <script src="~/Belgeler/FrontEnd/Js/IllerListesi3.js"></script>

    <script src="~/Belgeler/FrontEnd/Js/IlIcerigi.js"></script>

    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforSahipRegister.js"></script>
    <script src="~/Belgeler/ilveilce/ilveilcejs.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforListesi/KuaforListesi35.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforListesi/KuaforAra4.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforDetayRegister1.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforKayitOl4.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KullaniciGirisYap2.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KullaniciLoginPaneli.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KullaniciProfilAyarlar6.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/SiraAl/KuaforElemanSec8.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/SiraAl/KuaforSiraAlDate.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/SiraAl/SecilenCesitler1.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforFavorilereEkle.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KullaniciSiraIptal4.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/SiraAl/KuaforSiraAlSaatAralik.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforMesajGonder2.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/KullaniciYorumYap/KullaniciMesajKutusu1.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/IllerKuaforDetay/KuaforSahipKayit.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/MainPage/KuaforKayitLogin1.js"></script>
    <script src="~/Belgeler/FrontEnd/Js/MainPage/KuaforCreate1.js"></script>
</body>
</html>