
@{
    ViewBag.Title = "FirsatIncele";
    Layout = "~/Views/KuaforAdmin/Index.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Detaylar</h2>
    </div>
</div>
<div class="row" ng-app="MyAppFirsat">
    <div class="col-md-8 col-md-offset-2" ng-controller="firsatincele">

        <hr />



        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Fırsat İçeriği", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                <textarea disabled class="form-control FirsatIcerik" rows="10">{{firsati.FirsatIcerik}}</textarea>
            </div>
        </div>

        <div class="form-group">
            @*<input type="text" id="name2"  />*@
            @Html.Label("Fırsat Yayın Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="datetime" disabled class="form-control Fiyat" value="{{firsati.FirsatYayinTarih}}" />


            </div>
        </div>



        <input type="hidden" class="dd" value="{{firsati.Id}}" />









        <div class="form-group">

            @*@Html.ActionLink("Listeye Dön", "Index", "Hizmetliler", null, new { @class = "btn btn-default" })*@

            <a href="/KuaforAdmin/Firsatlar/" class="btn btn-default">
                Listeye Dön
            </a>

        </div>
    </div>


</div>

