<div class="modal kuaforLoginKayitt" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">

                    <li class="nav-item">
                        <p class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                            <i class="fa fa-user-plus mr-1"></i>
                            Kuaför Kayıt
                        </p>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <!--/.Panel 7-->
                    <!--Panel 8-->
                    <div class="tab-pane active" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body">
                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Ad</label>
                                <input type="text" id="yAdi" class="form-control form-control-sm validate">

                            </div>
                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Soyad</label>
                                <input type="text" id="yAdres" class="form-control form-control-sm validate">

                            </div>
                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">E-Posta</label>
                                <input type="text" id="yEmaili" class="form-control form-control-sm validate">

                            </div>




                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Şehir</label>
                                <select name="Sehir" id="ySehir" class="form-control">
                                    <option value="">Seçin...</option>
                                </select>
                            </div>

                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Semt</label>
                                <select name="Semt" id="ySemt" class="form-control" disabled="disabled">
                                    <option value="">Seçin...</option>
                                </select>
                            </div>
                            <div class="md-form form-sm">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Telefon</label>
                                <input type="text" id="yTelefonu" class="form-control form-control-sm validate">

                            </div>

                            <div class="md-form form-sm">
                                @Html.Label("Bay/Bayan", htmlAttributes: new { @class = "control-label" })

                                <select name="BayBayan" id="BayBayan" class="form-control BayBayan">

                                    <option value="1">Bay</option>
                                    <option value="2">Bayan</option>
                                </select>


                            </div>

                            <div class="md-form form-sm">
                                @Html.Label("Açılış Saati", htmlAttributes: new { @class = "control-label" })

                                <input type="time" value="" name="AcilmaSaati" id="AcilmaSaati" class="form-control" />


                            </div>

                            <div class="md-form form-sm">
                                @Html.Label("Kapanma Saati", htmlAttributes: new { @class = "control-label" })

                                <input type="time" value="" name="KapanmaSaati" id="KapanmaSaati" class="form-control" />


                            </div>

                            <div class="md-form form-sm">
                                @Html.Label("Tahmini Traş Süresi", htmlAttributes: new { @class = "control-label" })

                                <input type="number" value="" name="Aralik" id="Aralik" class="form-control" />

                            </div>


                        </div>
                        <input type="hidden" class="dddd" value="" />


                        <div class="text-center form-sm mt-2">
                            <button class="btn btn-info kuaforLoginCreate">Kayıt Ol <i class="fa fa-sign-in ml-1"></i></button>
                        </div>
                        <br /><br />
                    </div>
                            <!--Footer-->
                            <div class="modal-footer">

                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                    </div>
                </div>
            </div>
        </div>
      
   
