
<div class="col-md-12 kuaforler" ng-show="hiddeniki" ng-controller="kuafordetaybilgiler">
    <div class="container">
        <div class="row">

            <div class="col-md-6" >
                <div class="pricing card-deck flex-column flex-md-row mb-3">
                    <div class="card card-pricing text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm" id="trascesitbaslik">Adres Bilgileri</span>
                       
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-4">
                                <li><b>İl :</b> {{trsbilgi.Sehir}}</li>
                                <li><b>Semt :</b> {{trsbilgi.Semt}}</li>
                                <li><b>Adres : </b>{{trsbilgi.Adres}}</li>


                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" >
                <div class="pricing card-deck flex-column flex-md-row mb-3">
                    <div class="card card-pricing text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm" id="trascesitbaslik">İletişim Bilgileri</span>
                        
                        <div class="card-body pt-0">
                            <ul class="list-unstyled mb-4">
                                <li><b>Telefon : </b>{{trsbilgi.Telefon}}</li>
                                <li><b>E-Posta :</b> {{trsbilgi.EMail}}</li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    
    </div>


        </div>

