<div class="modal msjGonder" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <div class="container mt-3 mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <input type="hidden" id="sessiondeger" value="@TempData["kullaniciId"]" />
                                        <textarea class="form-control counted" id="msjMetin" placeholder="Mesajınızı Yazınız" rows="5" style="margin-bottom:10px;"></textarea>
                                        <h6 class="pull-right" id="counter">200 karakter hakkınız kaldı.</h6>
                                        <button class="btn btn-info" type="submit" id="btnMsjGonder">Mesajı Gönder</button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
