<div class="col-md-12 kuaforler" ng-show="hiddenkontrol" ng-controller="_kullaniciCuzdanKontrol">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="pricing card-deck flex-column flex-md-row mb-3">
                    <div class="card card-pricing text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm" id="trascesitbaslik">Cüzdan Kontrol</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h1 class="h1 font-weight-normal text-primary text-center mb-0" id="trascesiticerik" data-pricing-value="15"><span class="price"><b style="color:black !important;">Bakiye</b> <br /> {{kullaniciCuzdanKntrl.Puan}}₺</span></h1>
                        </div>
                        <div class="card-body pt-0">
                           <br />
                            <button type="button" class="btn btn-outline-secondary mb-3">Sıranı Al ve Bakiyeni Yükselt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
