
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top">
    <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nvbCollapse">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <a href="#" class="navbar-brand">Kuaför Sırası</a>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <div class="ml-auto">
                @*<a href="#" class="btn btn-sm  navbarblog">Blog</a>*@
                <a href="#" class="btn btn-sm navbarblog" data-toggle="modal" data-target=".login-register-form">Kullanıcı Üyeliği</a>
                <a href="#" class="btn btn-sm navbarblog" data-toggle="modal" data-target=".kuaforYonetimUyelik">Kuaför Üyeliği</a>
                @*<a href="#" class="btn btn-sm navbarblog">English</a>*@
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-3 panelyazi pt-2 pb-2" style="margin-top:80px !important;">
    <div class="row">
        <div class="text-center mx-auto ">
            Şehrinizi seçin ve dilediğiniz kuaförden sıranızı alın. Sıra bekleme derdinden kurtulun..!!
        </div>
    </div>

</div>
<div class="container">
    <div class="row illerlistesi">

    </div>
</div>

@Html.Partial("_KullaniciRegister")
@Html.Partial("_KuaforAdminUyeligi")





